<% if (page.comments && theme.comments.gitment.enable) { %>
<%- css('css/gitment.css')%>
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<div id="gitment"></div>
<script>
    var gitment = new Gitment({
        id: '<%- page.title %>',
        owner: '<%- theme.comments.gitment.owner %>',
        repo: '<%- theme.comments.gitment.repo %>',
        oauth: {
            client_id: '<%- theme.comments.gitment.id %>',
            client_secret: '<%- theme.comments.gitment.secret %>'
        }
    });
    gitment.render('gitment');
</script>
<% } %>
